*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

#canvas{
    border: 2px solid black;
    margin-top:7rem;
}

.top-bar{
    position: fixed;
    top:0%;
    width:90%;
    height:1rem;
    margin:0 5%;
    
}

.download-container{
    text-align: center;
}
.download-button{
    background-color:#909CC2;
    color:white;
    margin-top:2rem;
    border: none;
    border-radius: 10%;
    padding:1rem;
    transition: .4s ease all;
}


.download-button:hover{
    border:solid black 1px;
    background:white;
    color:black;
}